.actualizar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }


    .form-actualizar {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 25px;
    }

   