.container-buscador-option {
display: flex;
justify-content: space-between;
align-items: center;
color: #fff;
margin-bottom: 20px;
margin-left: 75px;
margin-right: 90px;

}


.buscador {
    width: 50%;
    
}

.search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
  }
  .input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    backdrop-filter: blur(10px) !important;
  background-color: rgba(8, 8, 8, 0.651) !important;
    padding-right: 40px;
    color:#fff;
  }
  .input-search::placeholder{
    color:#fff;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  .btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#ffffff ;
    background-color:transparent;
    pointer-events: painted;  
  }
  .btn-search:focus ~ .input-search{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid white;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid white;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }


  .select {
    display:flex;
    flex-direction: column;
    position:relative;
    width:250px;
    height:40px;
  }
  
  .option {
    padding:0 30px 0 10px;
    min-height:40px;
    display:flex;
    align-items:center;
    backdrop-filter: blur(10px) !important;
    background-color: rgba(8, 8, 8, 0.651) !important;
    border-top:white solid 1px;
    position:absolute;
    top:0;
    width: 100%;
    pointer-events:none;
    order:2;
    z-index:1;
    transition: .4s ease-in-out;
    box-sizing:border-box;
    overflow:hidden;
    white-space:nowrap;
    
  }
  
  .option:hover {
    background:rgb(8, 8, 8);
  }
  
  .select:focus .option {
    position:relative;
    pointer-events:all;
  }
  
  .input {
    opacity:0;
    position:absolute;
    left:-99999px;
  }
  
  .input:checked + label {
    order: 1;
    z-index:2;
    backdrop-filter: blur(10px) !important;
    background-color: rgba(8, 8, 8, 0.651) !important;
    border-top:none;
    position:relative;
  }
  
  .input:checked + label:after {
    content:'';
    width: 0; 
      height: 0; 
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid white;
    position:absolute;
    right:10px;
    top:calc(50% - 2.5px);
    pointer-events:none;
    z-index:3;
  }
  
  .input:checked + label:before {
    position:absolute;
    right:0;
    height: 40px;
    width: 40px;
    content: '';
    backdrop-filter: blur(10px) !important;
    background-color: rgba(8, 8, 8, 0.651) !important;
  }

  .icon-color {
    color: white;
  }