
.container-card {
    Background-color: transparent !important;
    width: 250px;
    height: 400px;
}
.foto-card {
    height: 250px;
}

.body-card {
    color: white !important;
font-size: 20px;
}

.body-card:hover {
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
}


@media screen and (max-width: 400px) {
    

    }
    
    