.container-cards {
  overflow-y:scroll !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 770px;
}

.individual-cards {
  width: 300px;
}

.card {
  background-color: transparent !important;
  color: white;
  border: none !important;

}

.foto-card {
  width: 200px;
}