.container-cards {
  overflow-y: scroll;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.individual-cards {
  width: 300px;
}

.card {
  background-color: transparent !important;
  color: white;
  border: none !important;

}

.foto-card {
  width: 200px;
}