.container-carusel {
    display: flex;
    width: 100%;
    justify-content: center;
}


.fotos-carusel {
    height: 650px;
}




@media  (max-width: 575px){
  
  
    .fotos-carusel{
        height: 260px !important;
    }
  }