.container-footer {
    display: flex;
    background-color: transparent !important;
    backdrop-filter: blur(10px) !important;
    background-color: rgba(8, 8, 8, 0.651) !important;
    flex-direction: column;
    
    
}

.footer {
    color: white;
}

.icon-footer {
    color: white !important;
}