.container-tienda{
    display: flex;
    background-image: url(/src/assets/img/Home2.jpg);
    width: 100vw;
    height: 100vh;
}


.container-cards {
    overflow-y: scroll;
    height: 95%;
	width: 100%;
}